@import "tailwindcss";

@layer utilities {
  .bg-dot-pattern {
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 24px 24px;
  }
}

body {
  @apply bg-gray-50 text-gray-900;
}